/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #333;
}

/* Variáveis globais */
:root {
  --primary: #0EA5E9;   /* Azul Bahia */
  --secondary: #FBBF24; /* Amarelo Sol */
}

/* Container padrão */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
