.hero-section {
  width: 100%;
  height: 75vh;
  background: url("/banner.jpg") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* overlay escuro transparente */
.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  text-align: center;
  max-width: 700px;
}

/* logo */
.hero-logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.hero-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 12px;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

.hero-btn {
  background: #25d366;
  padding: 14px 30px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
}

.hero-btn:hover {
  background: #1bb253;
  transform: scale(1.07);
}
